/* File explorer utility styles */

.file-row {
    width: 100%;
    scroll-margin-top: 27px;
    transition: top 0.2s ease-in-out;
}

.file-row.sticky-folder {
    position: sticky !important;
    background-color: var(--bg-sidebar) !important;
    z-index: 1;
    top: 0;
}